@model FlashBuyClassLibrary.Anunciante
@{
    ViewBag.Title = "Cadastro de Anunciante";
    Layout = "~/Views/Shared/_LayoutPageAnunciante.cshtml";
}

<div style="display:@(ViewBag.Status == "Success" ? "block" : "none")" class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    @ViewBag.Message
</div>
<div style="display:@(ViewBag.Status == "Error" ? "block" : "none")" class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    @ViewBag.Message
</div>
<h2>Cadastro de Anunciante</h2>

<div class="panel">
    <div class="panel-body">
        @using(Html.BeginForm("Incluir", "CadastroAnunciante", FormMethod.Post, new { id="CadastroAnuncianteForm" }))
        {
        <div class="form-group">
            <label>CPF/CNPJ</label>
            @Html.TextBoxFor(x => x.CPF_CNPJ, new { @class="form-control", @maxlenght = "50" })
        </div>
        <div class="form-group">
            <label>Razão Social *</label>
            @Html.TextBoxFor(x => x.RazaoSocial, new { @class="form-control", @maxlenght = "50", @required = "required" })
        </div>
        <div class="form-group">
            <label>Nome Fantasia</label>
            @Html.TextBoxFor(x => x.NomeFantasia, new { @class="form-control", @maxlenght = "50" })
        </div>
        <div class="form-group">
            <label>Telefone *</label>
            @Html.TextBoxFor(x => x.Telefone, new { @class = "form-control", @maxlenght = "50", @required = "required" })
        </div>
        <div class="form-group">
            <label>E-mail *</label>
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @maxlenght = "50", @type = "email", @required = "required" })
        </div>
        <div class="form-group">
            <label>Senha *</label>
            @Html.TextBoxFor(x => x.Senha, new { @class = "form-control", @maxlenght = "20", @type = "password", @required = "required" })
        </div>
        @*<div class="form-group">
            <label>Confirmação de senha *</label>
            @Html.TextBox("ConfirmSenha", string.Empty, new { @class = "form-control", @maxlenght = "20", @type = "password", @required = "required" })
        </div>*@
        <div class="form-group text-center">
            <button type="submit" class="btn-primary">Salvar</button>
        </div>
        }
    </div>
</div>

<script src="~/Scripts/jquery-1.9.1.min.js"></script>
@*<script>
    $(document).ready(function () {
        $(document).on('submit', '#CadastroAnuncianteForm', function () {
            debugger;
            var fmr = $("#CadastroAnuncianteForm");
            $.ajax({
                url:  fmr.url,
                type: 'post',
                dataType: 'json',
                data: fmr.serialize(),
                success: function (data) {
                    debugger;
                },
                error: function (data) {
                    debugger;
                },
                complete: function (data) {
                }
            });
        })
    });
</script>*@