@model IEnumerable<FlashBuyClassLibrary.Oferta>

@{
    ViewBag.Title = "FlashBuy";
    Layout = "~/Views/Shared/_LayoutPageAnunciante.cshtml";
}

<h2>Minhas ofertas</h2>

<p>
    @Html.ActionLink("Criar Nova", "CriarNova")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.CompraPacote.IdCompraPacote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produto)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataHoraAprovacao)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.IdCompraPacote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produto)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataFim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataHoraAprovacao)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdOferta }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdOferta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdOferta })
        </td>
    </tr>
}

</table>
